.section {}
.section-home-card {
  padding: 60px 0 50px;
  .container {}
}
  .section-title-box {
    text-align: center;
  }
    .section-title {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-bottom: 52px;
      padding-bottom: 9px;
      font-family: $font-main;
      font-size: $size-heading1;
      font-weight: $extra-bold;
      line-height: $line-height-heading;
      //letter-spacing: -.02em;
      //word-spacing: .12em;
      &:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 70px;
        height: 8px;
        background-color: $color-blue;
      }
      &.small {
        margin-bottom: 60px;
        font-size: $size-heading2;
      }
    }
    .section-desc {
      max-width: 770px;
      margin: 0 auto 47px;
      .section-title-box + & {
        margin-top: -32px;
      }
    }
  .home-card-list {
    > li {
      margin-bottom: 80px;
      &.right {
        margin-bottom: 180px;
        &:last-child {
          margin-bottom: 95px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
    .card-box {
      position: relative;
      padding-top: 30px;
      padding-bottom: 60px;
      //margin-left: 100px;
      //padding: 30px 100px 60px 60px;
      &:after {
        position: absolute;
        z-index: 1;
        content: '';
        top: 0;
        left: 100px;
        right: 100px;
        bottom: 0;
        background-color: $white;
        @include border-radius($radius-small);
        @include box-shadow(0 12px 40px 0, rgba(17, 57, 91, .08));
      }
      .section-title {
        position: relative;
        z-index: 5;
        margin-bottom: 32px;
        //margin-left: -159px;
        .right & {
          margin-bottom: -2px;
        }
      }
      a.btn-circle,
      .btn-circle {
        position: absolute;
        z-index: 7;
        right: 0;
        bottom: 40px;
        .icon {
          //font-size: 60px;
        }
      }
      .right & {
        padding-bottom: 72px;
        a.btn-circle,
        .btn-circle {
          display: block;
          left: 50%;
          //bottom: -95px;
          bottom: -9px;
          @include translate(-50%, 50%);

        }
      }
    }
      .card-content-box {
        overflow: hidden;
        position: relative;
        z-index: 5;
        //overflow: hidden;
        .left-box,
        .right-box {
          float: left;
          width: 50%;
          padding: 0 30px;
        }
        .left-box {
          width: 42.8%;
          padding-left: 0;
          //background-color: grey;
          .right & {
            float: right;
            width: 44.5%;
            padding-right: 0;
            padding-left: 50px;
          }
        }
        .right-box {
          padding-top: 16px;
          padding-right: 200px;
          width: 57.2%;
          .right & {
            width: 55.5%;
            padding-top: 38px;
            padding-right: 50px;
            padding-left: 162px;
          }
          a {
            text-decoration: none;
            @media all and (min-width: 769px) {
              &:hover,
              &:focus {
                color: $color-blue;
              }
            }
          }
        }
        .content {
          margin-bottom: 24px;
          //max-width: 440px;
        }
      }
        .card-img-wrap {
          //margin-left: -160px;
          //max-width: 470px;
          img {
            display: block;
            height: auto;
            width: 100%;
            max-width: 100%;
          }
        }
        .card-title {
          margin-bottom: 27px;
          font-family: $font-poppins;
          font-weight: $medium;
          font-size: $size-big;
          line-height: 1.5;
          text-transform: capitalize;
          word-spacing: .12em;
          letter-spacing: -.01em;
        }
        .right-box .card-btn-box,
        .card-btn-box {
          a {
            margin-right: 66px;
            font-weight: $black-weight;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 1;
            color: $color-blue;
            .icon {
              padding-left: 5px;
              font-size: 8px;
            }
            @media all and (min-width: 769px) {
              &:hover,
              &:focus {
                color: $color-green;
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }

.section-home-blog {
  padding: 42px 0 100px;
  .container {}
}
  .home-blog-wrap {
    position: relative;
    //display: inline-block;
    a.btn-circle,
    .btn-circle {
      position: absolute;
      z-index: 7;
      top: 90px;
      right: 0;
    }
  }
    .home-blog-list {
      position: relative;
      z-index: 5;
      margin: 0 -14px -30px;
      padding-right: 92px;
      > li {
        display: inline-block;
        width: 32%;
        width: -webkit-calc(33.33% - #{4px});
        width: calc(33.33% - #{4px});
        margin-bottom: 30px;
        padding: 0 14px;
        vertical-align: top;
        a {
          display: block;
          text-decoration: none;
          background-color: $white;
          @include box-shadow(0px 12px 40px, rgba(17, 57, 91, 0.08));
          @include transition($transition-other);
          @include border-radius($radius-small);
          @media all and (min-width: 769px) {
            &:hover,
            &:focus {
              color: $color-blue;
              @include box-shadow(0px 4px 10px, rgba(17, 57, 91, 0.25));
              .centered-img {
                img {
                  @include scale(1.1);
                }
              }
            }
          }
        }
      }
    }

      .centered-img {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-bottom: 72.5%;
        background-color: #dcdcdc;
        img {
          position: absolute;
          z-index: 3;
          min-height: 100%;
          min-width: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          top: -9999px;
          left: -9999px;
          right: -9999px;
          bottom: -9999px;
          margin: auto;
          @include transform-origin();
          @include transition($transition-other);
        }
        &.wider {
          img {
            max-height: none;
            //max-width: none;
          }
        }
      }
      .home-blog-box {
        .centered-img {
          padding-bottom: 89%;
          @include border-radius(3px 3px 0 0);
        }
      }
        .home-blog-detail {
          padding: 34px 40px 32px;
        }
        .home-blog-title {
          overflow: hidden;
          height: 72px;
          font-family: $font-poppins;
          font-weight: $medium;
          font-size: $size-main;
          line-height: 1.5;
          word-spacing: .1em;
          text-transform: capitalize;

        }