.section-video-gallery  {
  .categories {
	  margin-bottom: 80px;

	  ul {
		  text-align: center;
	  }

	  li {
		  display: inline-block;
		  margin-bottom: 15px;

		  @media (min-width: $screen-sm-min) {
			  margin-bottom: 0;
		  }
	  }
	  .btn {
		  margin: 0 8px;
		  border-radius: 0;
		  -webkit-border-radius: 0;
	  }
  }
}

	.video-gallery-list {
		overflow: hidden;
		margin: 0 -15px -45px;
		> li {
			float: left;
			width: 50%;
			padding: 0 15px;
			margin-bottom: 46px;
			&:nth-child(odd) {
				clear: both;
			}
			a {
				display: block;
				text-decoration: none;
				@media all and (min-width: 769px) {
					&:hover,
					&:focus {
						.fas {
							&:before {
								color: $light-blue;
							}
						}
						.video-img-wrap {
							img {
								@include scale(1.1);
							}
						}
						.video-title {
							color: $light-blue;
						}
					}
				}
			}
		}
		@media (max-width: 580px) {
			> li {
				width: 100%;
			}
		}
	}
			.video-box {
				position: relative;
				.fas {
					@include center-align-absolute();
					z-index: 10;
					font-size: 80px;
					color: $color-bg;
					@include border-radius(50%);
					padding: 0;
					@include transition($transition-other);
					&:before {
						z-index: 2;
						position: relative;
						@include transition($transition-other);
					}
					&:after {
						content: "";
						display: block;
						width: 50%;
						height: 50%;
						z-index: 0;
						background-color: white;
						@include center-align-absolute();
						@include transition($transition-other);
					}
				}
			}
				.video-img-wrap {
					margin-bottom: 45px;
					padding-bottom: 63%;
					@include border-radius($radius-small);
					&:after {
						position: absolute;
						z-index: 7;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: #101010;
						opacity: .5;
						@include border-radius($radius-small);
						@include transition($transition-other);
					}
					@media (max-width: 767px) {
						margin-bottom: 25px;
					}
				}
				.video-title {
					max-width: 450px;
					font-size: 16px;
					font-weight: $normal;
					letter-spacing: .03em;
					text-transform: uppercase;
					color: $color-text11;
					@include transition($transition-other);
				}
