.input-style {
  display: block;
  width: 100%;
  min-height: 30px;
  margin: 0;
  padding: 4px 10px 5px;
  @include font($normal, $size-main, $font-main, 1);
  color: $color-text;
  background-color: $white;
  border: 1px solid #B9C4CF;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include border-radius($radius-small);
  @include transition($transition-other);
}
//.wpcf7-not-valid.input-style {
//  border-color: red;
//}
//textarea.input-style {
//  overflow-y: auto;
//  @include font($normal, $size-smaller, $font-main, 1.6);
//  letter-spacing: $letter-spacing-20;
//  padding: 23px 28px;
//  width: 100%;
//  height: 136px;
//  resize: none;
//  border: 1px solid $color-bg11;
//  border-color: rgba($color-bg11, .2);
//  color: $color-text11;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  @include border-radius(0);
//}
//
input::-webkit-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
    @include transition($transition-other)
}

input::-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

input:-ms-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

input:-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea::-webkit-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea::-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea:-ms-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea:-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}


.search-form {
  position: relative;
  .search-icon {
    position: relative;
    &:before {
      content: '\e907';
      position: absolute;
      z-index: 3;
      right: 1px;
      top: 1px;
      width: 32px;
      height: 28px;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 28px;
      text-align: center;
      color: $color-blue;
      @include border-radius($radius-small);
    }
  }
  .style-search {
    position: absolute;
    width: 32px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .screen-reader-text {
    display: none;
  }
  label:before {
    content: '\e907';
    position: absolute;
    z-index: 3;
    right: 1px;
    top: 1px;
    width: 32px;
    height: 28px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 28px;
    text-align: center;
    color: $color-blue;
    @include border-radius($radius-small);
  }
  .search-submit {
    position: absolute;
    z-index: 5;
    width: 32px;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    @include border-radius($radius-small);
  }
  .search-field {
    display: block;
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding: 4px 32px 5px 10px;
    @include font($normal, $size-main, $font-main, 1);
    color: $color-text;
    background-color: $white;
    border: 1px solid #B9C4CF;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include border-radius($radius-small);
    @include transition($transition-other);
  }
}

.subscribe-form {
  .form-list {
    > li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      &:first-child {
        max-width: -webkit-calc(100% - #{85px});
        max-width: calc(100% - #{85px});
      }
      &:last-child {
        padding-left: 10px;
        width: 80px;
      }
    }
  }
  a.btn,
  .btn {
    display: block;
  }
}
