//#email_address_0,
.input-style {
  display: block;
  width: 100%;
  min-height: 30px;
  height: auto;
  margin: 0;
  padding: 4px 10px 5px;
  @include font($normal, $size-main, $font-main, 1);
  color: $color-text;
  background-color: $white;
  border: 1px solid #B9C4CF;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include border-radius($radius-small);
  @include transition($transition-other);
}
//.wpcf7-not-valid.input-style {
//  border-color: red;
//}
//textarea.input-style {
//  overflow-y: auto;
//  @include font($normal, $size-smaller, $font-main, 1.6);
//  letter-spacing: $letter-spacing-20;
//  padding: 23px 28px;
//  width: 100%;
//  height: 136px;
//  resize: none;
//  border: 1px solid $color-bg11;
//  border-color: rgba($color-bg11, .2);
//  color: $color-text11;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  @include border-radius(0);
//}
//
//input#email_address_0::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
    @include transition($transition-other)
}
//input#email_address_0::-moz-placeholder,
input::-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

input:-ms-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}
//input#email_address_0:-moz-placeholder,
input:-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea::-webkit-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea::-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea:-ms-input-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}

textarea:-moz-placeholder {
  font-family: $font-main;
  font-weight: $normal;
  color: $color-light-grey2;
  @include transition($transition-other)
}


.search-form {
  position: relative;
  .search-icon {
    position: relative;
    &:before {
      content: '\e907';
      position: absolute;
      z-index: 3;
      right: 1px;
      top: 1px;
      width: 32px;
      height: 28px;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 28px;
      text-align: center;
      color: $color-blue;
      @include border-radius($radius-small);
    }
  }
  .style-search {
    position: absolute;
    width: 32px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .screen-reader-text {
    display: none;
  }
  label:before {
    content: '\e907';
    position: absolute;
    z-index: 3;
    right: 1px;
    top: 1px;
    width: 32px;
    height: 28px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 28px;
    text-align: center;
    color: $color-blue;
    @include border-radius($radius-small);
  }
  .search-submit {
    position: absolute;
    z-index: 5;
    width: 32px;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    @include border-radius($radius-small);
  }
  .search-field {
    display: block;
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding: 4px 32px 5px 10px;
    @include font($normal, $size-main, $font-main, 1);
    color: $color-text;
    background-color: $white;
    border: 1px solid #B9C4CF;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include border-radius($radius-small);
    @include transition($transition-other);
  }
}

.subscribe-form {
  .form-list {
    > li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      &:first-child {
        max-width: -webkit-calc(100% - #{85px});
        max-width: calc(100% - #{85px});
      }
      &:last-child {
        padding-left: 10px;
        width: 80px;
      }
    }
  }
  a.btn,
  .btn {
    display: block;
  }
}
.subscribe-form-box {
  text-align: center;
  .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url(../../img/ajax-loader.gif);
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
  }
}
//
//#header-main,
//#header-scrolling {
//  div.ctct-form-embed div.ctct-form-defaults {
//    padding: 0;
//  }
//  .ctct-form-header {
//    margin-bottom: 0;
//    font-size: 18px;
//    color: $color-green;
//  }
//  #success_message_0 {
//    min-height: initial;
//  }
//}
//
//#header-main div.ctct-form-embed form.ctct-form-custom,
//#header-scrolling div.ctct-form-embed form.ctct-form-custom {
//  overflow: hidden;
//  min-height: initial;
//    #email_address_field_0 {
//    position: relative;
//    display: block;
//    float: left;
//    vertical-align: top;
//    max-width: -webkit-calc(100% - #{80px});
//    max-width: calc(100% - #{80px});
//    width: 100%;
//    padding-right: 10px;
//    margin: 0;
//  }
//  a.ctct-form-button,
//  button.ctct-form-button,
//  .ctct-form-button {
//    float: left;
//    position: relative;
//    display: block;
//    max-width: 100%;
//    min-width: 70px;
//    width: 80px;
//    margin: 0;
//    padding: 8px 20px;
//    font-size: 12px;
//    font-weight: $normal;
//    line-height: 1;
//    color: $white;
//    text-align: center;
//    cursor: pointer;
//    text-decoration: none;
//    border: 1px solid $color-blue;
//    background-color: $color-blue;
//    @include border-radius($radius-small);
//    @media all and (min-width: 769px) {
//      &:hover,
//      &:focus {
//        color: $color-blue;
//        background-color: transparent;
//      }
//    }
//  }
//  .ctct-form-errorMessage{
//    position: absolute;
//    bottom: -30px;
//    left: 0;
//  }
//}
//
//#ctct_recaptcha_0,
//#list_memberships_field_0,
//#email_address_label_0,
//.ctct-form-footer,
//.ctct-form-label,
//.ctct-form-text,
//.ctct-gdpr-text {
//  display: none;
//}
#ctct_recaptcha_0 {
  display: none;
}

body div.ctct-form-embed {
  div.ctct-form-defaults {
    @media all and (max-width: 640px) {
      padding: 0;
    }
    p.ctct-form-footer {
      display: none;
    }
    div.ctct-form-success {
      text-align: center;
    }
  }
  form.ctct-form-custom {
    button.ctct-form-button {
      position: relative;
      &:after {
        visibility: hidden;
        position: absolute;
        content: '';
        display: block;
        left: 50%;
        bottom: -25px;
        background-image: url(../../img/ajax-loader.gif);
        width: 16px;
        height: 16px;
        @include translate(-50%, 0);
      }
      &:disabled {
        &:after {
          visibility: visible;
        }
      }
    }
  }
}