/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; @include font(); background: $color-bg; color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
select, input, textarea        { font-size:$size-main; vertical-align:middle; color:$color-text; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font-family: $font-main; color: $color-text; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: $bold;
}
a, .btn {
  @include transition($transition-link);
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.vertical-align {
  .container {
    display: table;
    width: 100%;
    height: 494px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container-box {
    display: table-cell;
    width: 100%;
    min-height: 50px;
    vertical-align: middle;
  }
}

h1, h2, h3, h4, h5, h6 {
  //font-weight: $normal;
}

.content {
  font-size: $size-small;
  line-height: $line-height;
  //letter-spacing: -.01em;
  word-spacing: .02em;
  color: $color-text2;
  * {
    margin-bottom: 15px; 
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: $normal;
    line-height: $line-height-heading;
  }
  h1 { font-size: 55px; }
  h2 { font-size: 45px; }
  h3 { font-size: 35px; }
  h4 { font-size: 25px; }
  h5 { font-size: 22px; }
  h6 { font-size: 20px; }
  a {
    //color: $color-text3;
    text-decoration: underline;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  ul {
    > li {
      overflow: hidden;
      position: relative;
      padding-left: 25px;
      margin-bottom: 1px;
      list-style-position: outside;
      &:before {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 4px;
        content: '';
        margin-top: 12px;
        margin-right: 12px;
        width: 4px;
        height: 4px;
        background-color: $color-text;
        @include border-radius();
        vertical-align: top;
      }
    }
  }
  ol {
    position: relative;
    counter-reset: myCounter;
    > li {
      overflow: hidden;
      position: relative;
      padding-left: 30px;
      margin-bottom: 1px;
      list-style-position: outside;
      &:before {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        counter-increment: myCounter;
        content:counter(myCounter)'. ';
        padding-right: 10px;
      }
    }
  }
  blockquote {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: left;
    border-left: 2px solid #0b0b0b;
  }
  img {
    max-width: 100%;
    height: auto;
    &.alignleft {
      float: left;
      margin: 4px 20px 20px 0;
    }
    &.alignright {
      float: right;
      margin: 4px 0 20px 20px;
    }
    &.aligncenter{
      display: block;
      margin: 0 auto 30px;
      clear: both;
    }
    @media all and (max-width: 1024px) {
      &.alignleft,
      &.alignright,
      &.aligncenter{
        float: none;
        display: block;
        margin: 0 auto 30px;
        clear: both;
      }
    }
  }
  .inverse & {
    color: $white;
    ul {
      > li {
        &:before {
          background-color: $white;
        }
      }
    }
  }

  .align-center & {
    text-align: center;
    ul, ol {
      > li {
        padding-left: 0;
        &:before {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }
  }
  @media all and (max-width: 1024px) {
    font-size: 19px;
    &.big {
      font-size: 21px;
    }
    &.biggest {
      font-size: 24px;
    }
  }
  @media all and (max-width: 767px) {
    font-size: 18px;
    &.big {
      font-size: 20px;
    }
    &.biggest {
      font-size: 22px;
    }
  }
  &.big {
    font-size: $size-main;
  }
}
.warning {
  color: red;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  position: relative;

}
.double-bg,
.bg-wrap {
  position: absolute;
  display: block;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before {
    position: absolute;
    display: block;
    content: '';
    left: 50%;
    top: 420px;
    height: 740px;
    width: 0;
    border-top: 314px solid transparent;
    border-bottom: 314px solid transparent;
    border-right: 2560px solid #EAF1F4;
    @include translate(-50%, 0);
    .left-trapezium & {
      //top: 2620px;
      top: 2420px;
      //&.home {
      //  top: 2420px;
      //}
    }
    .web-conference & {
      top: 620px;
    }
  }
  &:after {
    position: absolute;
    display: block;
    content: '';
    left: 50%;
    top: 2420px;
    height: 740px;
    width: 0;
    border-top: 314px solid transparent;
    border-bottom: 314px solid transparent;
    border-left: 2560px solid #EAF1F4;
    @include translate(-50%, 0);
    .left-trapezium & {
      //top: 620px;
      top: 420px;
      //&.home {
      //  top: 420px;
      //}
    }
    .web-conference & {
      top: 2620px;
    }
  }
}

.bg-wrap {
  .bg-icon {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    &.icon-home_abstract_1 {
      top: 47px;
      //right: 230px;
      right: 0;
      font-size: 192px;
    }
    &.icon-home_abstract_2 {
      top: 502px;
      //left: 232px;
      left: 0;
      font-size: 303px;
    }
    &.icon-home_abstract_3 {
      top: 1166px;
      //right: 230px;
      right: 0;
      font-size: 336px;
    }
    &.icon-home_abstract_4 {
      top: 1604px;
      //left: 235px;
      left: 0;
      font-size: 283px;
    }
    &.icon-home_abstract_5 {
      top: 1835px;
      //right: 391px;
      right: 155px;
      font-size: 202px;
    }

    &.icon-abstract_1 {
      top: 47px;
      //right: 230px;
      right: 0;
      font-size: 192px;
    }
    &.icon-abstract_2 {
      top: 391px;
      //left: 232px;
      left: 0;
      font-size: 313px;
    }
    &.icon-abstract_3 {
      top: 896px;
      //right: 230px;
      right: 0;
      font-size: 336px;
    }
    &.icon-abstract_4 {
      top: 1560px;
      //left: 234px;
      left: 0;
      font-size: 283px;
    }
    &.icon-abstract_5 {
      top: 1806px;
      //right: 231px;
      right: 0;
      font-size: 271px;
    }
  }
}


.double-bg {
  &:before {
    top: 4420px;
    .left-trapezium & {
      //top: 6620px;
      top: 6420px;
      //&.home {
      //  top: 6420px;
      //}
    }
    .web-conference & {
      top: 4620px;
    }
  }
  &:after {
    top: 6420px;
    .left-trapezium & {
      //top: 4620px;
      top: 4420px;
      //&.home {
      //  top: 4420px;
      //}
    }
    .web-conference & {
      top: 6620px;
    }
  }
}

#main-content {
  position: relative;
  z-index: 1;
  padding-top: 130px;
}

// Video Wrapper
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

