.pagenavi-block {
  text-align: center;
  .section-blog & {
    margin-bottom: -70px;
  }
}
.pagenavi-block {
  text-align: center;
  &:not(:empty) {
    margin-top: 75px;
  }
}

.wp-pagenavi {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  //background-color: #f9f9f9;
  //border: 1px solid #00A3E0;
  //border-color: rgba(0, 163, 224, 0.3);
  //@include border-radius(5em);
  .pages {
    display: none;
  }
  .extend,
  .current,
  .page {
    display: inline-block;
    margin: 5px 0;
    padding: 6px 9px;
    //color: $light-blue;
    //font-family: $font-roboto;
    //font-size: $size-smaller;
    font-family: $font-poppins;
    font-weight: $normal;
    font-size: $size-big;
    line-height: 1;
    vertical-align: top;
    color: $color-text2;
    //border-left: 1px solid $light-blue;
    //border-color: rgba($light-blue, .4);
    cursor: pointer;
  }
  .extend {
    cursor: default;
  }
  .current {
    font-weight: $bold;
    color: $color-blue;
    cursor: default;
  }
  a {
    text-decoration: none;
    @media all and (min-width: 769px) {
      &:hover,
      &:focus {
        color: $color-green;
      }
    }
    &.first,
    &.last,
    &.previouspostslink,
    &.nextpostslink {
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px 0;
      //padding: 11px 18px;
      //font-family: $font-roboto;
      font-size: 14px;
      font-weight: $normal;
      line-height: 1;
      //letter-spacing: $letter-spacing-20;
      //color: $white;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      //border: 1px solid $light-blue;
      //background-color: $light-blue;
      //@include border-radius(2em);
      vertical-align: top;
      @media all and (min-width: 769px) {
        &:hover,
        &:focus {
          //color: $light-blue;
          background-color: transparent;
        }
      }
    }
    //&.first {
    //  margin-right: 1px;
    //  @include border-radius(2em 0 0 2em);
    //   + .previouspostslink {
    //     @include border-radius(0 2em 2em 0);
    //   }
    //}
    //&.last {
    //  margin-left: 1px;
    //  @include border-radius(0 2em 2em 0);
    //}
    //&.previouspostslink {
    //  & + .extend,
    //  & + .current,
    //  & + .page {
    //    border: none;
    //  }
    //}
    &.first,
    &.last,
    &.previouspostslink,
    &.nextpostslink {
      //width: 30px;
      //height: 30px;
      span {
        display: none;
      }
      &:before,
      &:after {
        content: '\e905';
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        color: $color-text2;
        @include transition($transition-other);
      }
      @media all and (min-width: 769px) {
        &:hover,
        &:focus {
          &:before,
          &:after {
            color: $color-green;
          }
        }
      }
    }
    &.previouspostslink,
    &.nextpostslink {
      &:before {
        display: none;
      }
    }
    &.first,
    &.previouspostslink {
      &:after,
      &:before {
        @include rotate(180deg);
      }
    }
    &.first,
    &.last {
      &:after {
        left: -3px;
      }
      &:before {
        left: 3px;
      }

    }
  }
}
