@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8nf0wv');
  src:  url('../fonts/icomoon.eot?8nf0wv#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?8nf0wv') format('truetype'),
  url('../fonts/icomoon.woff?8nf0wv') format('woff'),
  url('../fonts/icomoon.svg?8nf0wv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-abstract_1 .path1:before {
  content: "\e90c";
  color: rgb(223, 231, 236);
}
.icon-abstract_1 .path2:before {
  content: "\e90d";
  margin-left: -1.1513671875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_1 .path3:before {
  content: "\e90e";
  margin-left: -1.1513671875em;
  color: rgb(197, 227, 61);
}
.icon-abstract_1 .path4:before {
  content: "\e90f";
  margin-left: -1.1513671875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_1 .path5:before {
  content: "\e910";
  margin-left: -1.1513671875em;
  color: rgb(20, 130, 200);
}
.icon-abstract_1 .path6:before {
  content: "\e911";
  margin-left: -1.1513671875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_1 .path7:before {
  content: "\e912";
  margin-left: -1.1513671875em;
  color: rgb(197, 227, 61);
}
.icon-abstract_1 .path8:before {
  content: "\e913";
  margin-left: -1.1513671875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_1 .path9:before {
  content: "\e914";
  margin-left: -1.1513671875em;
  color: rgb(20, 130, 200);
}
.icon-abstract_2 .path1:before {
  content: "\e915";
  color: rgb(223, 231, 236);
}
.icon-abstract_2 .path2:before {
  content: "\e916";
  margin-left: -0.5419921875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_2 .path3:before {
  content: "\e917";
  margin-left: -0.5419921875em;
  color: rgb(197, 227, 61);
}
.icon-abstract_2 .path4:before {
  content: "\e918";
  margin-left: -0.5419921875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_2 .path5:before {
  content: "\e919";
  margin-left: -0.5419921875em;
  color: rgb(197, 227, 61);
}
.icon-abstract_2 .path6:before {
  content: "\e91a";
  margin-left: -0.5419921875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_2 .path7:before {
  content: "\e91b";
  margin-left: -0.5419921875em;
  color: rgb(197, 227, 61);
}
.icon-abstract_2 .path8:before {
  content: "\e91c";
  margin-left: -0.5419921875em;
  color: rgb(223, 231, 236);
}
.icon-abstract_2 .path9:before {
  content: "\e91d";
  margin-left: -0.5419921875em;
  color: rgb(20, 130, 200);
}
.icon-abstract_3 .path1:before {
  content: "\e91e";
  color: rgb(223, 231, 236);
}
.icon-abstract_3 .path2:before {
  content: "\e91f";
  margin-left: -0.5517578125em;
  color: rgb(223, 231, 236);
}
.icon-abstract_3 .path3:before {
  content: "\e920";
  margin-left: -0.5517578125em;
  color: rgb(197, 227, 61);
}
.icon-abstract_3 .path4:before {
  content: "\e921";
  margin-left: -0.5517578125em;
  color: rgb(223, 231, 236);
}
.icon-abstract_3 .path5:before {
  content: "\e922";
  margin-left: -0.5517578125em;
  color: rgb(20, 130, 200);
}
.icon-abstract_3 .path6:before {
  content: "\e923";
  margin-left: -0.5517578125em;
  color: rgb(223, 231, 236);
}
.icon-abstract_3 .path7:before {
  content: "\e924";
  margin-left: -0.5517578125em;
  color: rgb(197, 227, 61);
}
.icon-abstract_3 .path8:before {
  content: "\e925";
  margin-left: -0.5517578125em;
  color: rgb(223, 231, 236);
}
.icon-abstract_3 .path9:before {
  content: "\e926";
  margin-left: -0.5517578125em;
  color: rgb(20, 130, 200);
}
.icon-abstract_4 .path1:before {
  content: "\e927";
  color: rgb(223, 231, 236);
}
.icon-abstract_4 .path2:before {
  content: "\e928";
  margin-left: -0.625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_4 .path3:before {
  content: "\e929";
  margin-left: -0.625em;
  color: rgb(197, 227, 61);
}
.icon-abstract_4 .path4:before {
  content: "\e92a";
  margin-left: -0.625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_4 .path5:before {
  content: "\e92b";
  margin-left: -0.625em;
  color: rgb(20, 130, 200);
}
.icon-abstract_4 .path6:before {
  content: "\e92c";
  margin-left: -0.625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_4 .path7:before {
  content: "\e92d";
  margin-left: -0.625em;
  color: rgb(197, 227, 61);
}
.icon-abstract_4 .path8:before {
  content: "\e92e";
  margin-left: -0.625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_4 .path9:before {
  content: "\e92f";
  margin-left: -0.625em;
  color: rgb(20, 130, 200);
}
.icon-abstract_5 .path1:before {
  content: "\e930";
  color: rgb(223, 231, 236);
}
.icon-abstract_5 .path2:before {
  content: "\e931";
  margin-left: -1.0400390625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_5 .path3:before {
  content: "\e932";
  margin-left: -1.0400390625em;
  color: rgb(20, 130, 200);
}
.icon-abstract_5 .path4:before {
  content: "\e933";
  margin-left: -1.0400390625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_5 .path5:before {
  content: "\e934";
  margin-left: -1.0400390625em;
  color: rgb(197, 227, 61);
}
.icon-abstract_5 .path6:before {
  content: "\e935";
  margin-left: -1.0400390625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_5 .path7:before {
  content: "\e936";
  margin-left: -1.0400390625em;
  color: rgb(197, 227, 61);
}
.icon-abstract_5 .path8:before {
  content: "\e937";
  margin-left: -1.0400390625em;
  color: rgb(223, 231, 236);
}
.icon-abstract_5 .path9:before {
  content: "\e938";
  margin-left: -1.0400390625em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_1 .path1:before {
  content: "\e939";
  color: rgb(223, 231, 236);
}
.icon-home_abstract_1 .path2:before {
  content: "\e93a";
  margin-left: -1.0625em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_1 .path3:before {
  content: "\e93b";
  margin-left: -1.0625em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_1 .path4:before {
  content: "\e93c";
  margin-left: -1.0625em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_1 .path5:before {
  content: "\e93d";
  margin-left: -1.0625em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_1 .path6:before {
  content: "\e93e";
  margin-left: -1.0625em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_1 .path7:before {
  content: "\e93f";
  margin-left: -1.0625em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_1 .path8:before {
  content: "\e940";
  margin-left: -1.0625em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_1 .path9:before {
  content: "\e941";
  margin-left: -1.0625em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_2 .path1:before {
  content: "\e942";
  color: rgb(223, 231, 236);
}
.icon-home_abstract_2 .path2:before {
  content: "\e943";
  margin-left: -0.451171875em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_2 .path3:before {
  content: "\e944";
  margin-left: -0.451171875em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_2 .path4:before {
  content: "\e945";
  margin-left: -0.451171875em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_2 .path5:before {
  content: "\e946";
  margin-left: -0.451171875em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_2 .path6:before {
  content: "\e947";
  margin-left: -0.451171875em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_2 .path7:before {
  content: "\e948";
  margin-left: -0.451171875em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_2 .path8:before {
  content: "\e949";
  margin-left: -0.451171875em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_2 .path9:before {
  content: "\e94a";
  margin-left: -0.451171875em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_3 .path1:before {
  content: "\e94b";
  color: rgb(223, 231, 236);
}
.icon-home_abstract_3 .path2:before {
  content: "\e94c";
  margin-left: -0.474609375em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_3 .path3:before {
  content: "\e94d";
  margin-left: -0.474609375em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_3 .path4:before {
  content: "\e94e";
  margin-left: -0.474609375em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_3 .path5:before {
  content: "\e94f";
  margin-left: -0.474609375em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_3 .path6:before {
  content: "\e950";
  margin-left: -0.474609375em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_3 .path7:before {
  content: "\e951";
  margin-left: -0.474609375em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_3 .path8:before {
  content: "\e952";
  margin-left: -0.474609375em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_3 .path9:before {
  content: "\e953";
  margin-left: -0.474609375em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_4 .path1:before {
  content: "\e954";
  color: rgb(223, 231, 236);
}
.icon-home_abstract_4 .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_4 .path3:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_4 .path4:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_4 .path5:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_4 .path6:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_4 .path7:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_4 .path8:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_4 .path9:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_5 .path1:before {
  content: "\e95d";
  color: rgb(223, 231, 236);
}
.icon-home_abstract_5 .path2:before {
  content: "\e95e";
  margin-left: -1.080078125em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_5 .path3:before {
  content: "\e95f";
  margin-left: -1.080078125em;
  color: rgb(20, 130, 200);
}
.icon-home_abstract_5 .path4:before {
  content: "\e960";
  margin-left: -1.080078125em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_5 .path5:before {
  content: "\e961";
  margin-left: -1.080078125em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_5 .path6:before {
  content: "\e962";
  margin-left: -1.080078125em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_5 .path7:before {
  content: "\e963";
  margin-left: -1.080078125em;
  color: rgb(197, 227, 61);
}
.icon-home_abstract_5 .path8:before {
  content: "\e964";
  margin-left: -1.080078125em;
  color: rgb(223, 231, 236);
}
.icon-home_abstract_5 .path9:before {
  content: "\e965";
  margin-left: -1.080078125em;
  color: rgb(20, 130, 200);
}
.icon-blog:before {
  content: "\e909";
}
.icon-conference:before {
  content: "\e90a";
}
.icon-podcast:before {
  content: "\e90b";
}
.icon-long-arrow:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-guard:before {
  content: "\e900";
}
.icon-print:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}





